body {
  background-color: rgb(26, 26, 26);
  display: flex;
  place-content: center;
  margin: 0;

  --bubbleSize: 3rem;
  --radiusSize: 7rem;
  --animationSpeed: 40s;
}

.WheelContainer {
  width: 20em;
  height: 20em;
  background-color: aqua;
  display: flex;
  place-content: center;
  align-items: center;
  position: relative;

  perspective: 40em;
  perspective-origin: 50% 10%;
}

.rotator {
  transform-style: preserve-3d;
  display: flex;
  place-content: center; //control vertical alignement
  align-items: center; //control horizontal alignement
  position: absolute;
  background-color: #f5f5dc7e;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;

  transform: rotateX(90deg) /* circular rotation */ rotateZ(0deg);
  animation: orbit var(--animationSpeed) linear infinite;
  div {
    transform-style: preserve-3d;
    display: flex;
    place-content: left;
    align-items: center;
    div {
      transform-style: preserve-3d;
      position: absolute;
      background-color: #ff00005c;

      //overall link bubble settings
      a {
        transform-style: preserve-3d;
        position: relative;
        display: flex;
        place-content: center;
        align-items: center;
        color: antiquewhite;
        font-weight: bold;
        text-align: center;
        padding: 1em;
        background-color: blue;
        float: right;
        margin-left: var(--radiusSize);
        border-radius: 1em;
        width: var(--bubbleSize);
        height: var(--bubbleSize);
      }
    }
  }
}

.center1pivit {
  .link1container {
    .link1bubble {
      transform: rotateX(-90deg) rotateY(0deg);
    }
  }
}

.center2pivit {
  --rotationAmount: 72deg;
  transform: rotate(var(--rotationAmount));
  .link2container {
    .link2bubble {
      transform: rotateX(-90deg) rotateY(var(--rotationAmount));
    }
  }
}

//animations
@keyframes orbit {
  100% {
    transform: rotateZ(360deg);
  }
}
