body {
  background-color: rgb(26, 26, 26);
  display: flex;
  place-content: center;
  margin: 0;

  --bubbleSize: 3rem;
  --radiusSize: 7rem;
  --animationSpeed: 40s;
}

.WheelContainer {
  width: 20em;
  height: 20em;
  background-color: aqua;
  display: flex;
  place-content: center;
  align-items: center;
  position: relative;

  perspective: 40em;
  perspective-origin: 50% 10%;
}

.rotator {
  transform-style: preserve-3d;
  display: flex;
  place-content: center; //control vertical alignement
  align-items: center; //control horizontal alignement
  position: absolute;
  background-color: #f5f5dc7e;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  transform: rotateX(90deg) rotateZ(0deg);
  animation: orbit var(--animationSpeed) linear infinite;
  div {
    transform-style: preserve-3d;
    display: flex;
    place-content: left;
    align-items: center;
    div {
      transform-style: preserve-3d;
      position: absolute;
      background-color: #ff00005c;
      div {
        //overall link bubble settings
        transform-style: preserve-3d;
        position: relative;
        background-color: #3fdc145c;
        margin-left: var(--radiusSize);
        border-radius: 1em;
        width: var(--bubbleSize);
        height: var(--bubbleSize);
        a {
          transform-style: preserve-3d;
          position: absolute;
          display: flex;
          place-content: center;
          align-items: center;
          color: antiquewhite;
          font-weight: bold;
          text-align: center;
          padding: 1em;
          background-color: blue;
          float: right;

          //reverse adjust to overall circle animation (links keep facing forwards)
          animation: orbitReverse var(--animationSpeed) linear infinite;
          border-radius: 1em;
          width: var(--bubbleSize);
          height: var(--bubbleSize);
        }
      }
    }
  }
}

//individual link containers, why does the pivit point rotation affect the reversing adjust animation??

.center1pivit {
  position: absolute;
  --rotationAmount: 0deg;
  transform: rotateZ(var(--rotationAmount));
  .link1container {
    .hub {
      .link1bubble {
        transform: rotateX(-90deg) rotateY(var(--rotationAmount));
      }
    }
  }
}

.center2pivit {
  --rotationAmount: 240deg;
  transform: rotateZ(var(--rotationAmount));
  .link2container {
    .hub {
      .link2bubble {
        transform: rotateX(-90deg) rotateY(var(--rotationAmount));
      }
    }
  }
}

.center3pivit {
  --rotationAmount: 120deg;
  transform: rotateZ(var(--rotationAmount));
  .link3container {
    .hub {
      .link3bubble {
        transform: rotateX(-90deg) rotateY(var(--rotationAmount));
      }
    }
  }
}

//animations
@keyframes orbit {
  100% {
    transform: rotateX(90deg) rotateZ(360deg);
  }
}

//how does this work??

@keyframes orbitReverse {
  100% {
    transform: rotateX(-90deg) rotateY(360deg);
  }
}
